@model LoginViewModel
@{
    var returnUrl = string.Empty;
    ViewBag.Subtitulo = "Login de Usuário";

    if (Context.Request.Query.ContainsKey("returnUrl"))
    {
        returnUrl = Context.Request.Query["returnUrl"].ToString();
    }
}

<div class="d-flex flex-column justify-content-center align-items-center" style="height: 80vh;">
    <partial name="_MensagemPartial" />
    <div id="login-card" class="border glass rounded shadow">
        <h3 class="text-center my-4" style="color: #a70000"><i class="bi bi-person-lock display-5"></i>&nbsp;&nbsp;Login de Usuário</h3>
        <hr>
        <form asp-action="Login" class="py-4 px-5" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="validation-summary text-danger"></div>
            <input type="hidden" name="ReturnUrl" id="ReturnUrl" value="@returnUrl">

            <div class="form-group mb-4">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                    <div class="form-floating">
                        <input asp-for="@Model.Usuario" class="form-control" placeholder="CPF (somente números)">
                        <label asp-for="@Model.Usuario"></label>
                    </div>
                </div>
                <span asp-validation-for="@Model.Usuario" class="text-danger"></span>
            </div>

            <div class="w-100"></div>

            <div class="form-group mb-4">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
                    <div class="form-floating">
                        <input asp-for="@Model.Senha" class="form-control" placeholder="Senha">
                        <label asp-for="@Model.Senha"></label>
                    </div>
                </div>
                <span asp-validation-for="@Model.Senha" class="text-danger"></span>
            </div>

            <div class="w-100"></div>

            <div class="form-group mb-5">
                <div class="form-check form-switch">
                    <input asp-for="@Model.Lembrar" class="form-check-input">
                    <label asp-for="@Model.Lembrar" class="form-check-label"></label><br>
                    <span asp-validation-for="@Model.Lembrar" class="text-danger"></span>
                </div>
            </div>

            <div class="w-100"></div>

            <div class="row px-3 mb-4">
                <button class="btn btn-lg btn-primary col" type="submit"><i class="bi bi-box-arrow-in-right"></i>&nbsp;&nbsp;Entrar</button>
            </div>

            <div class="d-flex justify-content-between mx-2 text-muted" style="font-size:.9rem;">
                <div>Não é cadastrado? <a asp-action="Cadastrar">Clique aqui</a></div>
                <div>Esqueceu a senha? <a asp-action="EsqueciSenha">Clique aqui</a></div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
